<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">{{title}}</h1>
      <p class="col-lg-10 fs-4">{{textInfo}}</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form [formGroup]="integerForm" class="p-4 p-md-5 border rounded-3 bg-light" (ngSubmit)="findPairs()" novalidate>
        <div class="form-floating mb-3">
          <input [ngClass]="{'is-invalid': integerForm.invalid && integerForm.touched}" name="number" type="number" class="form-control" formControlName="numberP" >
          <label >find pairs for the number</label>
        </div>
        <div *ngIf="integerForm.controls['numberP'].invalid && (integerForm.controls['numberP'].dirty || integerForm.controls['numberP'].touched)" class="alert text-danger">
          <div *ngIf="integerForm.controls['numberP'].errors?.required">
            Please enter a number
          </div>
          <div *ngIf="integerForm.controls['numbersP'].errors?.pattern">
            only integers are allowed
          </div>
        </div>
        <button [disabled]="integerForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Search</button>
        <hr class="my-4">
      </form>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>


<div *ngIf="mapNbaPlayers.size>0 && submitForm"  class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Player pairs for the number {{numb}}</h1>
  <div *ngFor="let item of mapNbaPlayers | keyvalue" class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{item.key}} -- {{item.value}}</p>
  </div>
</div>
<div *ngIf="mapNbaPlayers.size==0  && submitForm" class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">No matches found for the number {{numb}}</h1>
</div>
